<table class="LMJE-Chat_Table">
  <style>
    .LMJE-Chat_Table {
      border-spacing: 0;
      border-collapse: separate;
      border-radius: 10px;
      overflow: hidden;
      border: 1.5px var(--color-border-dark-5) solid;
    }
    .LMJE-Chat_Table tr th {
      background-color: var(--color-border-dark-5);
      color: var(--color-text-light-highlight);
      padding: 9px 14px;
    }
    .LMJE-Chat_Table tr td {  
      background-color: #00000010;
      color: var(--color-text-light-9 );
      padding: 9px 14px;
    }
  </style>
  <tr>
    <th class="LMJE-Chat_Title" align="left">
        <i class="fas fa-megaphone"></i>
      {{localize 'LMJE.CHAT.Title'}}
    </th>
    <th class="LMJE-Chat_Button" width="30px">
      <a onclick="{{click}}">
        <i class="fas fa-message"></i>
      </a>
    </th>
  </tr>
  <tr>
    <td colspan="2" id="LMJE-Chat_Message">{{message}}</td>
  </tr>
</table>
