<table class="LMJE-Chat_Table LMJE-Table">
  <tr>
    <th align="left">
        <i class="fas fa-megaphone"></i>
      {{localize 'LMJE.CHAT.Title'}}
    </th>
    <th width="30px">
      <a onclick="{{click}}">
        <i class="fas fa-message"></i>
      </a>
    </th>
  </tr>
  <tr>
    <td colspan="2" id="LMJE-Chat_Message">{{{message}}}</td>
  </tr>
</table>
