<table class="LMJE-Whisper_Table LMJE-Table">
  <tr>
    <th align="left">
        <i class="fas fa-mask"></i>
      {{localize 'LMJE.WHISPER.Title'}}
    </th>
    <th width="30px">
      <a onclick="{{click}}">
        <i class="fas fa-reply"></i>
      </a>
    </th>
  </tr>
  <tr>
    <td colspan="2" id="LMJE-Whisper_Message">{{{message}}}</td>
  </tr>
</table>
