<table>
  <tr>
    <th>{{localize 'LMJE.WHISPER.Title'}}</th>
    <th>
      <a onclick="{{click}}">
        <i class="fas fa-message"></i>
      </a>
    </th>
  </tr>
  <tr>
    <td colspan="2" id="LMJE-Whisper_Message">{{message}}</td>
  </tr>
</table>
