<form class="flexcol">
  <div class="form-group">
    <label for="documentid">Example Input</label>
    <input type="text" name="documentid" placeholder="test{{!{{localize hint}}">
  </div>
  <footer class="sheet-footer flexrow">
    <button type="submit" name="submit">
        <i class="fa fa-check"></i> OK
    </button>
  </footer>
</form>
